# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# Node
node_modules/

# macOS
.DS_Store
**/.DS_Store
